@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Patrick+Hand&display=swap');

.main-body-01{
    width: 100%;
    background-color: #5b5b5b;
    background-image: url('/images/homepage-background-2.jpg');
    background-image: url('https://github.com/kavinduUdhara/H7DT-04-AS-01/blob/main/images/background-images/background_image_with_3d_shapes_blue_purple_website_u_08594a43-5a84-4478-b264-49460b977c60.png?raw=true');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 130px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.profile-holder{
    display: flex;
    width: 70%;
    max-width: 700px;
    padding: 20px;
    background-color: #eeeeeec1;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    transform: rotate(-2deg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition-duration: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.profile{
    width: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-duration: 1s;
}

.profile-info{
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 50px;
    transition-duration: 1s;
}

.profile img{
    width: 90%;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-info .profile-name{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
    padding-bottom: 20px;
}

.profile-info .profile-more-info{
    font-size: 17px;
}

.profile-holder .social-media{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.profile-holder .social-media img{
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}

@media (max-width:750px){
    .profile-holder{
        display: block;
    }
    .profile{
        position: absolute;
        right: -50px;
        top: -70px;
    }
    .profile img{
        width: 70%;
        border-radius: 50%;
        transform: rotate(7deg);
    }
    
    .profile-info{
        width: 100%;
    }
    .profile-info .profile-name{
        font-size: 50px;
    }
}

@media (max-width:670px){
    .profile{
        position: absolute;
        right: -50px;
        top: -50px;
    }
    .profile img{
        width: 70%;
        border-radius: 50%;
        transform: rotate(7deg);
    }
    
    .profile-info{
        width: 100%;
    }
    .profile-info .profile-name{
        font-size: 50px;
    }
}

@media (max-width:500px){
    .profile-holder{
        transform: rotate(0deg);
    }
    .profile{
        right: 10px;
        top: 20px;
        width: 60px;
    }
}

@media (max-width:388px){
    .profile{
        display: none;
    }
}

.showcase{
    width: 100%;
}