@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Patrick+Hand&display=swap');

body{
  margin: 0;
  background-color: #000000;
  padding-left: 77px;
  padding-right: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root{
  --menu-bar-backcolor: #4e4e4e;
}

.menu-bar-holder{
  height: 100vh;
  width: 0px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-bar{
  position: fixed;
  left: 10px;
  background-color: var(--menu-bar-backcolor);
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.menu-bar .menu-item{
  background-color: #00000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-bar .menu-item .menu-item-data{
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7d7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar .menu-item .menu-item-data .material-symbols-outlined{
  font-size: 27px;
  cursor: pointer;
}

.active{
  transform: translateX(5px);
  background-color: #000000 !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  width: 10px; /* adjust this to fit your image */
  height: 10px; /* adjust this to fit your image */
  background-image: url("/images/svg/border-radius.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1; /* set this to a value higher than the parent element's z-index to ensure the image appears on top */
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  transform:  rotate(180deg) scaleX(-1);
  right: 0;
  width: 10px; /* adjust this to fit your image */
  height: 10px; /* adjust this to fit your image */
  background-image: url("/images/svg/border-radius.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1; /* set this to a value higher than the parent element's z-index to ensure the image appears on top */
}

/* .active::before,
.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 10px;
  height: 10px;
  right: 3px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.active::after{
  top: -10px;
  bottom: auto;
} */

.main-body{
  margin: 20px;
  width: 100%;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.main-body h1{
  font-family: 'Patrick Hand', cursive;
  font-size: 50px;
}

.main-body p{
  padding: 20px;
  text-align: justify;
  line-height: 25px;
}

.main-body img{
  width: 80%;
  border-radius: 50px;
}